.CamsPanel {
    background-color: #2B2B2B;
    border-radius: 10px;
    padding: 0.5%;
    height: 489.38px;
    overflow-y: overlay; /* не сдвигает контент */

    /* Firefox scroll */
    scrollbar-width: thin;
    scrollbar-color: #FFCC00 #1E1E1E;
}

/* WebKit Scrollbar (Chrome, Edge, Safari) */
.CamsPanel::-webkit-scrollbar {
    width: 8px;
}

.CamsPanel::-webkit-scrollbar-track {
    background: #1E1E1E;
    border-radius: 10px;
}

.CamsPanel::-webkit-scrollbar-thumb {
    background: #FFCC00;
    border-radius: 10px;
}

.CamsPanel::-webkit-scrollbar-thumb:hover {
    background: #e6b800;
}

.AddCam {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.AddCamButton {
    background-color: #FFCC00;
    color: white;
    border-radius: 10px;
    height: 36px;
    width: 36px;
    border: none;

    outline: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.AddCamButton:hover {
    background-color: #e6b800;
}

.NameInput,
.URLInput {
    padding: 10px;
    color: white;
    background-color: #1E1E1E;
    border-radius: 10px;
    border: none;

    outline: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;

    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.NameInput:focus,
.URLInput:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px #FFCC00;
}

.NameInput:active,
.URLInput:active {
    border: none;
    outline: none;
    box-shadow: none;
}
