.LogsPanel {
    background-color: #2B2B2B;
    border-radius: 10px;
    width: 99%;
    height: 32%;
    margin-top: 1.5%;
    padding: 0.5%;
    overflow-y: overlay;
    padding-top: 0.04%;

    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #FFCC00 #1E1E1E;
}


/* WebKit scrollbar (Chrome, Edge, Safari) */
.LogsPanel::-webkit-scrollbar {
    width: 8px;
}

.LogsPanel::-webkit-scrollbar-track {
    background: #1E1E1E;
    border-radius: 10px;
}

.LogsPanel::-webkit-scrollbar-thumb {
    background: #FFCC00;
    border-radius: 10px;
}

.LogsPanel::-webkit-scrollbar-thumb:hover {
    background: #e6b800;
}
