.VideoPanel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    background-color: #2B2B2B;
    border-radius: 10px;
}

.video {
    border-radius: 10px;

}

.VideoCanvas{
    position: absolute;
    z-index: 1;
    overflow: hidden;
}